

<!-- Nav Menu -->

<div class="nav-menu fixed-top">
    <div class="container">
        <div class="row">
            <div class="col">
                <nav class="navbar" style="margin-bottom:-8%">
                  <a class="navbar-brand" href="#"><img src="assets/images/logo-educacion.jpg" style="width:20%;  margin-left: 118%" class="img-fluid" alt="logo"></a>
                  <a class="navbar-brand" href="#"><img src="assets/images/logo-itsal.png" style="width:20%; margin-left: 72%; margin-top: 1%" class="img-fluid" alt="logo"></a>
                  <a class="navbar-brand" href="#"><img src="assets/images/logo_tecnm_2019.jpg" style="width:10%; margin-top: -9%; margin-left: 100%" class="img-fluid" alt="logo"></a> 
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
                    <div class="navigation">
                      <input type="checkbox" name="">
                      <span></span>
                      <span></span>
                      <ul class="menu">
                          <li><a href="logingeneral">Acceder</a>
                      </ul>
                  </div>
                </nav>
            </div>
        </div>
    </div>
  </div>

<body style="overflow: hidden">
    <header class="bg-gradient" id="home">
        <div class="container mt-5">
            <h1>INSTITUTO TECNOLÓGICO DE SALINA CRUZ</h1>
            <p class="tagline">Biblioteca Virtual de Proyectos de Residencia Profesional </p>
        </div>
        <div class="img-holder mt-3"><img src="assets/images/libro.png" style="width: 20%" alt="phone" class="img-fluid"></div>
    </header>
</body>
