
<body>
    <h2 style="position: absolute; top: 8%; color: black">Hola, Bienvenido al Sistema</h2>
    <h3 style="position: absolute; top: 16%; color: black">¿Que gestionaremos hoy?</h3>
    <div class="container">
        <div class="card">
            <img src="assets/img/residencia.png" style="max-width: 150px" width="150%" alt="">
            <a href="residencia">Residencias</a>
        </div>
        <div class="card">
            <img src="assets/img/alumno.png" alt="">
            <a href="alumno">Alumnos</a>
        </div>
        <div class="card">
            <img src="assets/img/carrera.png" alt="">
            <a href="carrera">Carreras</a>
        </div>
        <div class="card">
            <img src="assets/img/dependencia.png" alt="">
            <a href="dependencia">Dependencias</a>
        </div>
        <div class="card">
            <img src="assets/img/periodo.png" alt="">
            <a href="periodo">Periodos</a>
        </div>
        <div class="card">
            <img src="assets/img/asesor.png" alt="">
            <a href="asesorgeneral">Asesores</a>
        </div>    
    </div>    
</body>
