<link rel="stylesheet" href="assets/css/login.css">
<h1 style="margin-bottom:-7%;margin-top: 3%;text-align: center;font-size: 50px">INICIAR SESIÓN COMO</h1>
<div class="row">
    <div class="col">
        <div class="box1">
          <div class="col">
              <img src="assets/images/docente.png" style="padding-top:15%" width="100%" alt="">
              <div class="row">
                  <button class="btn btn-light" [routerLink]="['/login']" style="margin-top: 30px ;margin-left: 55%; font-size: 15px; border-radius:10px">DOCENTE</button>
              </div>
          </div>
        </div>
    </div>
    <div class="col">
        <div class="box2">
          <div class="col">
              <img src="assets/images/estudiante.png" style="padding-top:15%" width="99%" alt="">
              <div class="row">
                  <button class="btn btn-light" [routerLink]="['/loginestudiante']" style="margin-top: 30px ;margin-left: 38%; font-size: 15px; border-radius:10px">ESTUDIANTE</button>
              </div>
          </div>j
        </div>
    </div>
    <div class="col">
        <div class="box3">
          <div class="col">
              <img src="assets/images/admin.png" style="padding-top:15%" width="98%" alt="">
              <div class="row">
                  <button class="btn btn-light" [routerLink]="['/loginadmin']" style="margin-top: 30px ;margin-left: 23%; font-size: 15px; border-radius:10px">ADMINISTRADOR</button>
              </div>
          </div>
        </div>
    </div>
</div>



